
// ===== // DARK MODE COLOR // ================================
$darkmode-dark: #12122b;
$darkmode-text: white;
$darkmode-section: #242348;

// ===== // COLOR // ====================================
$bg-color: #d5d4f3;
$text-color: rgb(22, 22, 22);
$border-color: white;
$bg-color-blue: #242348; 
$bg-color-disable: grey;

// ===== // FONT SIZE // ====================================
$font-size-L: 4rem;
$font-size-m: 3.5rem;
$font-size-s: 2rem;
